.title_users{
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1rem 0;
    width: 100%;
}
.form-delete-button{
    color: var(--red-alert);
    border: 2px solid var(--red-alert);
    background-color: white;
    width: 100px;
}

.form-delete-button:hover{
    color: white;
    background-color: var(--red-alert);
}

.form-add-button{
    color: white;
    border: 2px solid var(--green-bg-color);
    background-color: var(--green-bg-color);
    width: 100px;
}

.form-add-button:hover{
    background-color: var(--green-hover-bg-color);
}
