.detalle-titulo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalle-titulo-container div {
    display: inline-block;
}

.titulo-detalle {
    font-size: 1.25rem;
    font-weight: bold;
}

.boton-accion {
    padding: 0.3rem 0;
    min-width: 10rem;
    margin: 0 0.5rem;
    border-radius: 10px;
}

.boton-atras {
    padding: 0 0.5rem;
}

.contenedor-campo {
    margin: 1.25rem 0;
    flex-grow: 1;
}

.contenedor-campo div {
    border: solid 1px gray;
    border-radius: 5px;
    padding: 0.5rem;
}

.contenedor-campo ul {
    list-style-type: circle;
    list-style-position: inside;
}

.contenedor-estado {
    background-color: #FFEB3B;
    border-radius: 10px;
}

.detail-table{
    margin: 20px 30px;
    width: 100%;
    max-width: 1200px;
    background-color: aliceblue;
}

.detail-table td, th {
    padding: 5px 10px;
}

.detail-table th {
    text-align: left;
    height: 40px;
    background-color: #0284c7;
    color: #fff;
    border: 5px solid aliceblue;
}

.detail-table td:nth-child(1){
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background-color: #e7f7ff;
}

ul{
    list-style: none;
}

.detail-table td {
    border: 5px solid aliceblue;
    background-color: #fff;
}


.loading-gif {
    margin: 0 auto;
    margin-top: 100px;
}



.title-cargando {
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 150px;
    font-size: 14px;
    color: #777777;
}
