.modal {
    width: 100% !important;
    height: 100vh !important;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modal-content{
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.6);
    overflow: hidden;
}

.modal-header{
    padding: 10px;
}

.modal-footer{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modal-title{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}


.modal-body{
    padding: 20px 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.modal-button{
    font-size: 14px;
    color: #fff;
    padding: 10px 15px;
    overflow: hidden;
    margin: 0 5px;
    border-radius: 5px;
}

.btn-accept{
    background-color:#337ab7;
}

.btn-decline{
    background-color: #be5757;
}

.modal-button:hover{
    cursor: pointer;
}

.show{
    opacity: 1;
    pointer-events: visible;
}

.btn-accept:hover{
    background-color:#2a6eab;
}

.btn-decline:hover{
    background-color:#b84c4c;
}

.icon-large{
    font-size: 80px;
    margin-bottom: 5px;
}

.success{
    color: rgb(44, 255, 44);
}

.error-icon {
    color: rgb(255, 44, 44);
}