.sidebar{
    box-shadow: 4px 4px 15px rgba(0,0,0,0.1);
    z-index: 200;
}

.lista-item{
    display: flex;
    padding: 0.5em 1em;
    border-radius: 2em;
    width: 100%;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    justify-content: space-between;
    min-height: 0.5em !important;
}

.lista-item-selected {
    background-color: rgba(2,132,199,0.15);
    color: #0284C7;
}

.lista-item-small{
    justify-content: center;
    align-items: center;
}

#sidebar-link-content-suffix > div > i::before {
    display: block;
}

.lista-item-disabled {
    cursor: not-allowed;
    color: #A9A9A9;
}