.detail-table{
    margin: 20px 30px;
    width: 100%;
    max-width: 1200px;
    background-color: aliceblue;
}

.detail-table td, th {
    padding: 5px 10px;
}

.detail-table th {
    text-align: left;
    height: 40px;
    background-color: #0284c7;
    color: #fff;
    border: 5px solid aliceblue;
}

.detail-table td:nth-child(1){
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background-color: #e7f7ff;
}

ul{
    list-style: none;
}

.detail-table td {
    border: 5px solid aliceblue;
    background-color: #fff;
}


.loading-gif {
    margin: 0 auto;
    margin-top: 100px;
}



.title-cargando {
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 150px;
    font-size: 14px;
    color: #777777;
}